@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}
.container {
    width: auto;
    height: 100vh;
    background-color: #F4F6FC;
    
}

.container button{
    margin: 10px;
    padding: 10px;
    width: 5em;
    border-radius: 15px;
    cursor: pointer;
    font-size: 0.8em;
    font-family: 'Outfit';
    background-color: #99ABF7;
    box-shadow: 5px 5px  #0056b3;
    color: #fff;
    transition: 0.5s;
    position: absolute;
}

.container button:hover{
    transform: scale(1.1);
}

#top-left{
    position: absolute;
    top: 0;
    left: 0;
    width: 25em;
}

#top-right{
    position: absolute;
    top: 0;
    right:0;
    width: 18em;
}

#bottom-right{
    position: absolute;
    bottom: 0;
    right:0;
    width: 25em;
}

#bottom-left{
    position: absolute;
    bottom: 0;
    left:0;
    width: 25em;
}

h1{
    text-align: center;
    font-size: 5em;
    position: relative;
    z-index: 1;
}

.content {
    background-color: #ffffffd3;
    width: 25rem;
    height: 50%;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
    border-radius: 15px;
    border: 3px solid #ffff;
    box-shadow: 2px 2px 1px #0056b3;
}



.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.form img{
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 12em;
}

.cadastro img{
    top: -20%;
}

.form input{
    margin: 20px;
    padding: 10px;
    width: 15em;
    outline: none;
    background-color: transparent !important;
    border-bottom: 1px solid #000;
    font-size: 1.1rem;
}

.form span{
    color: #fd0000;
    display: none;
}

.form button{
    position: relative;
    margin-top: 20px;
    width: 15em;
    padding: 10px;
    background-color: #99ABF7;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
    color: #fff;
    box-shadow: 5px 5px #0056b3;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}


.form button:hover{
    transform: translateY(3px);
}

.form p{
   margin-top: 20px;
   font-size: 1.1em;
   font-family: Arial, Helvetica, sans-serif;
}

.form a{
    text-decoration: none;

}